::selection {
  background: #e34234;
  color: black;
}

html {
  box-sizing: border-box;
  width: 100%;
  scrollbar-width: thin;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
  display: flex;
  background-color: rgb(9, 9, 9);
}

html,
body {
  height: 100%;
}

main {
  margin: auto;
  padding: 30px;
}

h2,
p,
a {
  color: #cecece;
  font-size: 24px;
}

.bio p {
  font-size: 30px;
  margin-bottom: 0.7em;
  font-weight: bold;
}
.links a {
  margin: 0;
  margin-top: 1em;
  text-decoration: none;
}
.links a:hover {
  text-decoration: underline;
}
.links p {
  margin: 0;
  margin-top: 0.3em;
}
.links svg {
  vertical-align: bottom;
  margin-right: 5px;
}
.link-to-main a {
  font-style: bold;
  text-decoration: none;
}
.link-to-main a:hover {
  text-decoration: underline;
}

@media (max-width: 350px) {
  main h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  .bio p {
    font-size: 25px;
    margin-bottom: 0.7em;
  }
  .link-to-main a {
    font-size: 20px;
  }
}
