@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
body {
  font: 24px "Open Sans", sans-serif;
  color: white;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 700% 700%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} 


.profile-card {
  /*box-shadow: 0 18px 550px -50px black;*/
  border-radius: 50px;
  width: auto;
  position: relative;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.2509803922);
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .profile-card {
    width: auto;
  }
}
.profile-card__img img {
  margin: auto;
  max-width: 210px;
  max-height: 210px;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  box-shadow: 0 50px 60px -10px rgba(13, 20, 39, 0.5);
}
.profile-card__desc {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile-card__desc h1 {
  font-size: 2rem;
  font-weight: bold;
}
.profile-card__desc h1 + div {
  font-size: 20px;
}
.profile-card__desc h2 {
  font-size: 25px;
  font-weight: bold;
}
.profile-card__desc h2 + div {
  font-size: 20px;
}
.profile-card__social {
  display: flex;
  justify-content: center;
  align-items: flex;
  flex-wrap: wrap;
}
.profile-card__social a {
  display: inline-flex;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 40%;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  flex-shrink: 0;
  transition: all 0.2s;
}
@media screen and (max-width: 768px) {
  .profile-card__social a {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
}
@media screen and (min-width: 768px) {
  .profile-card__social a:hover {
    transform: scale(1.2) translateY(-9px);
  }
}
.profile-card__social a.telegram {
  background: linear-gradient(65deg, #00ccff, #0099ff);
  box-shadow: 0 4px 30px rgba(43, 98, 169, 0.5);
}
.profile-card__social a.instagram {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  box-shadow: 0 4px 30px rgba(120, 64, 190, 0.6);
}
.profile-card__social a.spotify {
  background: linear-gradient(45deg, #00cc66, #80ffbf);
  box-shadow: 0 4px 30px rgba(7, 194, 32, 0.6);
}
.profile-card__social a.github {
  background: linear-gradient(45deg, #75a3a3, #1f2e2e);
  box-shadow: 0 4px 30px rgba(21, 13, 27, 0.616);
}
.profile-card__social a.twitter {
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
  box-shadow: 0 4px 30px rgba(16, 153, 216, 0.6);
}
.profile-card__social a.discord {
  background: linear-gradient(45deg, #717fce, #6f88a3);
  box-shadow: 0 4px 30px rgba(21, 13, 27, 0.616);
}
.profile-card__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media screen and (max-width: 576px) {
  .profile-card__actions {
    flex-direction: column;
    gap: 1.5rem;
  }
}
.profile-card__actions > a {
  font-weight: bold;
  font-size: 22px;
  padding: 15px 0;
  min-width: 150px;
  border-radius: 50px;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
}

@media screen and (min-width: 576px) {
  .profile-card__actions > a:hover {
    transform: translateY(-5px);
  }
}
.profile-card__actions > a.blue {
  border: 3px solid rgba(255, 255, 255, 0.2509803922);
}
.profile-card__actions > a.blue2 {
  border: 3px solid rgba(255, 255, 255, 0.2509803922);
}
.profile-card__actions > a.blue3 {
  border: 3px solid rgba(255, 255, 255, 0.2509803922);
}/*# sourceMappingURL=style.css.map */