@media screen and (max-width: 551px) {
	img {
		float: right;
	}
	br {
		display: inline;
	}
	div div:nth-child(2) {
		margin-right: 0!important;
	}
	div div:nth-child(1) {
		margin-left: 10px;
	}
} 
@media screen and (min-width: 552px) {
	img {
		float: left;
		margin-right: 15px!important;
	}
	br {
		display: none;
	}
} 

html {
	font-family: Helvetica, Arial, sans-serif
}

#donate, #telegram {
    display: none;
}

img {
	border-radius: 100%;
	height: 68px;
	width: 68px;
	margin-top: 0;
	margin: 10px;
}

#wrap {
	display: block;
	max-width: 547px;
}

div div:nth-child(1) {
	font-weight: bold;
	font-size: 38px;
}

div div:nth-child(2) {
	font-size: 20px;
	margin: 10px;
}

li {
	margin: 10px;
	font-size: 30px;
}

a,
a:visited {
    /* remove link decorations */
	text-decoration: none;
	position: relative;
}

ul {
    /* remove list bullets, padding */
	list-style: none;
	padding: 0;
}

#telegramSpoiler {
	margin-bottom: 0;
}

/* link underline animation */
a:after,
a:visited:after,
p:after {
	content: '';
	height: 3px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	transition: 0.3s;
}

a:hover:after,
a:visited:hover:after,
p:hover:after {
    width: 100%;
}
/**/